 <!---start navbar--->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <b><img src="../assets/images/store.jpg" id="logo">My Store</b>
      </a>
     
           
      <div style="display: flex; float:right ;margin-right: 30px;">
            
            <a class="nav-link" style="margin-left:20px" routerLink="/user">User Management</a>
        
        
            <a class="nav-link" style="margin-left:20px" routerLink="/product">Product Management</a>
        
         
            <a class="nav-link"style="margin-left:20px"  routerLink="/provider">Provider Management</a>
      </div>
        
       
      </div>
  
  </nav>
  <br>
  <!---end navbar--->
